*{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}


body {
	background-color: #F7F7F7;
}

.whole-page{
	max-width: 1440px;
	width: 100%;
	/*height: 899.5px;*/
}
header{
	font-family: 'Brandon Grotesque';
	font-weight: bold;
/*	background-color: #002D69;*/
	width: 1440px;
	top: 28px;
	height: 18px;
/*	height: 74px;*/
	position: fixed;
	z-index: 30;
}
header a{
	color: #FFFFFF;
	font-size: 12px;
	line-height: 18px;
}
header li{
	display: inline-block;
	text-transform: uppercase;
	/*padding-top: 28px;*/
	margin-left: 59px;
}
header nav{
	padding-left: 700px;
	padding-right: 127px;
	display: inline-block;
}
header img{
	width: 27px;
	height: 27px;
	padding-left: 27px;
	display: inline-block;
}
.bruxelles_container {
	max-width: 1440px;
	position: relative;
	z-index: 10;
}

.bruxelles_image_wr {
}

.bruxelles_image {
	display: block;
	width: 100%;
}

.bruxelles_title {
	font-family: 'Brandon Grotesque';
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 9px;
	color: #FFFFFF;
	position: absolute;
	bottom: 45px;
	left: 180px;
	z-index: 10;
}
.info_container {
	max-width: 1259px;
	margin: 0 auto;
	padding: 43px 90px 120px;
	box-sizing: border-box;
}

.info_tags {
	margin-bottom: 65px;

}

.info_tag {
	font-family: Arial;
	font-size: 11px;
	color: #262626;
	margin-right: 30px;

}

.info_tag_blue {

	font-family: "Brandon Grotesque";
	font-size: 12px;
	color: #FFFFFF;
	padding: 8px 16px;
	background-color: #0865DE;
	display: inline-block;
}

.info_title {
	font-family: "Tisa Sans Pro";
	font-size: 32px;
	font-weight: normal;
	color: #262626;
	margin-bottom: 72px;
	max-width: 616px;
}

.info_desc {
	font-family: "Tisa Sans Pro";
	font-size: 25px;
	color: #434343;
	margin-bottom: 64px;
	max-width: 1016px;
}

.info_bottom {

}

.info_bottom_text {
	font-family: "Brandon Grotesque";
	font-size: 14px;
	color: #959595;
}

.info_bottom_year {
	font-family: Arial;
	font-size: 18px;
	color: #959595;
	margin: 0 90px;
}

.info_bottom_link {
	font-family: Arial;
	font-size: 18px;
	color: #959595;
	text-decoration: underline;
}
.info_container2{
	max-width: 1260px;
    margin: 0 auto;
    padding: 90px 0;
    box-sizing: border-box;
	background-color: #fff;
}
.whitebox1 {
	background-color: #FFFFFF;
}

.whitebox1 h2{
	font-family: 'Brandon Grotesque';
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.innerbox1{
	width: 835px;
	display: inline-block;
	padding: 0 90px;
	box-sizing: border-box;
}
.innerbox1 p{
	font-family: 'Tisa Sans Pro';
	font-size: 18px;
	line-height: 33px;
}

.innerbox2{
	width: 419px;
	padding: 0 90px;
	box-sizing: border-box;
	display: inline-block;
}
.innerbox2 p{
	font-family: 'Tisa Sans Pro';
	font-size: 18px;
	line-height: 33px;
}

.info_container3 {
	max-width: 1260px;
	margin: 0 auto;
	background-color: #FFFFFF;
	margin-top: 30px;
	padding: 90px 0;
	box-sizing: border-box;
}

.innerbox3 {
	background-color: #FFFFFF;
	width: 835px;
	padding: 0 90px;
	box-sizing: border-box;
	display: inline-block;
	
}

.innerbox3_title {
	font-family: "Brandon Grotesque";
	font-size: 25px;
	color: #262626;
	font-weight: normal;
	margin-bottom: 33px;
}

.innerbox3_items {
	font-family: Arial;
	font-size: 11px;
	color: #000000;
	margin-right: 13px;
}
.innerbox3_item {
	font-family: "Brandon Grotesque";
	font-size: 12px;
	color: #000000;
	margin-right: 14px;
	padding: 8px 15px;
	box-shadow: 0px 2px 4px #00000021
}
 
.innerbox3_text {
	font-family: 'Tisa Sans Pro';
	font-size: 18px;
	color: #434343;
	width: 641px;
	margin-top: 69px;
}

.innerbox4 {
	width: 395px;
	padding: 0 90px;
	box-sizing: border-box;
	display: inline-block;
}

.innerbox4_title {
	font-family: "Brandon Grotesque";
	font-size: 25px;
	color: #262626;
	margin-bottom: 38px;
}
.innerbox4 div{
	display: inline-block;
	/*position: relative;*/
}
.people_img {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 12px;
	margin-bottom: 12px;
}
.tooltip_title {
	font-family: "Brandon Grotesque";
	font-size: 14px;
	color: #FFFFFF;

}
.tooltip_s {
	font-family: Arial;
	font-size: 10px;
	color: #FFFFFF;

}
.tooltip_text {
	font-family: 'Tisa Sans Pro';
	font-size: 12px;
	color: #FFFFFF;
	z-index: 1;
}
.tooltipmaintext{
	visibility: hidden;
	display: none;
	position: absolute;
	width: 182px;
	background-color: #0865DE;
	padding: 15px;
	border-radius: 10px;
  	z-index: 10;
  	box-shadow: 0px 4px 6px #00000029;
}
.tooltip:hover .tooltipmaintext {
	display: block;
 	visibility: visible;
 	/*	position: relative;*/
}
