*{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}


body {
	background-color: #F7F7F7;
}

.whole-page{
	width: 1440px;
	/*height: 899.5px;*/
}
header{
	font-family: 'Brandon Grotesque';
	font-weight: bold;
/*	background-color: #002D69;*/
	width: 1440px;
	top: 28px;
	height: 18px;
/*	height: 74px;*/
	position: fixed;
	z-index: 30;
}
header a{
	color: #4aa1d3a8;
	font-size: 12px;
	line-height: 18px;
}
header li{
	display: inline-block;
	text-transform: uppercase;
	/*padding-top: 28px;*/
	margin-left: 59px;
}
header nav{
	padding-left: 700px;
	padding-right: 127px;
	display: inline-block;
}
header img{
	width: 27px;
	height: 27px;
	padding-left: 27px;
	display: inline-block;
}
.bruxelles_container {
	max-width: 1440px;
	position: relative;
	z-index: 10;
}

.bruxelles_image_wr {
}

.bruxelles_image {
	display: block;
	width: 100%;
}

.bruxelles_title {
	font-family: 'Brandon Grotesque';
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 9px;
	color: #FFFFFF;
	position: absolute;
	bottom: 45px;
	left: 180px;
	z-index: 10;
}
.info_container {
	max-width: 1259px;
	margin: 0 auto;
	padding: 43px 90px 120px;
	box-sizing: border-box;
}

.info_tags {
	margin-bottom: 65px;

}

.info_tag {
	font-family: Arial;
	font-size: 11px;
	color: #262626;
	margin-right: 30px;

}

.info_tag_blue {

	font-family: "Brandon Grotesque";
	font-size: 12px;
	color: #FFFFFF;
	padding: 8px 16px;
	background-color: #0865DE;
	display: inline-block;
}

.info_title {
	font-family: "tisa sans";
	font-size: 32px;
	color: #262626;
	margin-bottom: 72px;
	max-width: 616px;
}

.info_desc {
	font-family: "tisa sans";
	font-size: 25px;
	color: #434343;
	margin-bottom: 64px;
	max-width: 1016px;

}

.info_bottom {

}

.info_bottom_text {
	font-family: "Brandon Grotesque";
	font-size: 14px;
	color: #959595;
}

.info_bottom_year {
	font-family: Arial;
	font-size: 18px;
	color: #959595;
	margin: 0 90px;
}

.info_bottom_link {
	font-family: Arial;
	font-size: 18px;
	color: #959595;
	text-decoration: underline;
	

}
.info_container2{
	width: 100%;
	background-color: #F7F7F7;
}
.whitebox1 {
	background-color: #FFFFFF;
	max-width: 1260px;
	height: 372px;
	margin: 90px auto;
	margin-top: 0;
}
.innerbox1{
	width: 800px;
	height: 372px;
	padding-left: 90px;
	display: inline-block;
}
.innerbox1 p{
	font-family: 'Tisa Sans Pro';
	font-size: 18px;
	line-height: 33.3px;
	width: 640px;
	height: 126px;
	margin-top: 30px;
}
.whitebox1 h2{
	font-family: 'Brandon Grotesque';
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-top: 90px;
}
.innerbox2{
	width: 300px;
	height: 372px;
	display: inline-block;
	margin-top: 0;
}
.innerbox2 p{
	font-family: 'Tisa Sans Pro';
	font-size: 18px;
	line-height: 33.3px;
	width: 216px;
	height: 126px;
	margin-top: 30px;
}
.whitebox2{
	background-color: #FFFFFF;
	margin-top: 30px;
	max-width: 1260px;
	margin: 90px auto;
	height: 438px;
}