*{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}

.whole-page{
	width: 1440px;
	/*height: 899.5px;*/
}
header{
	font-family: 'Brandon Grotesque';
	font-weight: bold;
/*	background-color: #002D69;*/
	width: 1440px;
	top: 28px;
	height: 18px;
/*	height: 74px;*/
	position: fixed;
	z-index: 30;
}
header a{
	color: #4aa1d3a8;
	font-size: 12px;
	line-height: 18px;
}
header li{
	display: inline-block;
	text-transform: uppercase;
	/*padding-top: 28px;*/
	margin-left: 59px;
}
header nav{
	padding-left: 800px;
	padding-right: 127px;
}
.gray-background{
	background-color:#0865DE;
}
.text-container{
	padding-left: 90px;
	padding-right: 90px;
}
.whitebox {
	background-color: #FFFFFF;
	padding-top: 1560px;
}
.whitebox div{
	display: inline-block;
}
.whitebox h2{
	font-family: 'Brandon Grotesque';
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
}
